<!doctype html>

<html lang="fr" ng-app="countersApp">
  <head>
    <meta charset="utf-8">
    <title>Coucou</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/countersController.js"></script>

  </head>
  <main>
    <section ng-controller="countersCtrl as counters">
         <button ng-click="counters.increment()">+</button>
          {{ counters.count }}
         <button ng-click="counters.decrement()">-</button>
    </section>
    <section ng-message="form">
      <form>
  Write something: <input type="text" name="fname"><br>
  <input type="submit" value="Submit">
</form>

    </section>
  </main>
  <body>
  </body>
</html>
